
$color1:#1DB3DC;
$color2:#11111E;

$poppins:'Poppins';
$mon:'Montserrat' !important;
$varela:'Varela Round';

.wykresy {
    vertical-align: middle;
    min-height: 28vh;
    flex: 1 1 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-search {
    .input-group-text {
        background-color: transparent;
        border: none;
    }

    .form-control {
        border: none;
        font-size: 12px;
        font-family: $mon;
        font-weight: 500;
        line-height: 16px;
        background: rgba(17, 17, 30, 0.02) !important;
    }

    .form-control::placeholder {
        color: #A8A8BC;
        font-family: $mon;
    }

    .input-group-prepend {
        background: rgba(17, 17, 30, 0.02) !important;
        margin-right: 0px;
    }

    .input-group-prepend i {
        color: $color1;
    }
}
.mal{
    height: 248px;
  width: 100%;
}
.text-danger {
    color: #FF7474 !important;
}

.text-success {
    color: #35D550 !important;
}

.text-blue {
    color: #0282F5 !important;
}

#chart1,
#chart2,
#chart3,
#chart4 {
    margin: 20px;
    width: 150px;
    height: 150px;
    position: relative;
}

.page-link:focus,
select,
.form-control:focus,
input:focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}

.role-p {
    background: #fff;

    tr {
        border-bottom: 1px solid #fafafa;
    }

    thead {
        background: #F8F9FC;

        th {
            color: #11111E;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            font-family: $mon;

        }

    }
}

.progressbar-text:after {
    content: '%';
    font-size: 1.2rem;
    vertical-align: super;
}

.dropdown .dropdown-list .dropdown-header {
    background-color: $color1;
    border-color: $color1;
}

#wrapper {
    .navbar {
        background: #fff;
        margin-left: -1px;

        .master-nav {
            .text-dark {
                color: #11111E !important;
                margin-left: 30px;
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                font-family: $mon;

            }
        }

        .nav-item {
            .nav-link {
                color: #11111E;
                font-size: 13px;
                font-weight: 500;
                line-height: 17px;
                font-family: $mon;
                transition: .2s;

                i {
                    color: $color1;
                    margin-right: 10px;
                    font-size: 15px;
                }
            }

            .nav-link:hover,
            .active {
                color: $color1;

            }
        }
    }
}

#content {
    .input-group {
        border-radius: 10px;

        .input-group-prepend {
            border: none !important;
            background: rgba(17, 17, 30, 0.03);
        }

        .btn-primary {
            border: none !important;
            background: transparent;


            i {
                color: $color1;
            }
        }

        input {
            background: rgba(17, 17, 30, 0.03);
            padding: 20px;
        }
    }
}

.breadcrumb {
    background: transparent;
    padding-left: 0;

    .breadcrumb-item {
        a {
            font-size: 11px;
            line-height: 15px;
            font-family: $mon;
            font-weight: 700;
            color: #11111E;

            i {
                margin-right: 10px;
            }
        }
    }
}

.container-fluid {
    .mb-4 {
        margin-bottom: 30px !important;

        .text-dark {
            font-size: 25px;
            line-height: 22px;
            font-family: $mon;
            font-weight: 600;
            color: #11111E;
            margin-bottom: 20px;
        }
    }
}

#wrapper #content-wrapper {
    background: #F8F9FC;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    text-align: center;
    padding: 0;
    border-radius: 0;
    box-shadow: 0 4px 7px #bfbfbf8f;

    .card-body {
        padding: 0;

        .box {
            background: #F3FBFE;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;

            i {
                font-size: 18px;
            }
        }

        .doc-n {
            font-size: 20px;
            line-height: 27px;
            font-family: $mon;
            font-weight: 700;
            color: $color1;
        }

        .h5 {
            font-size: 12px;
            line-height: 16px;
            font-family: $mon;
            font-weight: 700;
            color: $color2;
        }

        img {
            margin-right: 15px;
        }

        .text-primary {
            .d-inline-block {
                font-size: 16px;
                line-height: 21px;
                font-family: $mon;
                font-weight: 700;
                color: $color2;
            }
        }

        .rs-bg {
            background: rgba(32, 181, 37, 0.05);
            padding: 30px 20px;
        }
    }
}

.user-stat {
    min-height: 400px;
}

.card-header {
    background: #fff;
    border-radius: 0;
    border-bottom: none;
}

.card {
    border-radius: 0;
}


.card {
    .card-header {
        h6 {
            font-size: 15px;
            line-height: 20px;
            font-family: $mon;
            font-weight: 700;
            color: $color2;
        }

        .text-primary {
            color: $color2 !important;
        }

        .fr {
            p {
                display: inline-block;
                margin-right: 15px;
                font-size: 12px;
                line-height: 16px;
                font-family: $mon;
                font-weight: 500;
                color: #A8A8BC;
            }

            select {
                display: inline-block;
                font-size: 12px;
                line-height: 16px;
                font-family: $mon;
                font-weight: 500;
                color: #A8A8BC;
                padding: 7px 12px;
                border: 1px solid #a8a8bc59;
            }
        }
    }
}

.legend-area {
    padding: 20px 0;

    .legend-here {
        li {
            display: inline-block;
            margin-right: 40px;

            i {
                font-size: 15px;
                margin-left: 20px;
                margin-right: 10px;
            }

            .text-legend {
                font-size: 11px;
                line-height: 16px;
                font-family: $mon;
                font-weight: 700;
                color: #A8A8BC;
            }
        }
    }
}




.membership {
    .row {

        margin-bottom: 8px;

        h4 {
            font-size: 12px;
            line-height: 20px;
            font-family: $mon;
            font-weight: 700;
            color: $color2;
        }

        p {
            font-size: 11px;
            line-height: 20px;
            font-family: $mon;
            font-weight: 500;
            color: #767984;

            i {
                font-size: 11px;
                line-height: 20px;
                margin-right: 10px;
            }
        }

        .btn {
            font-size: 12px;
            line-height: 18px;
            font-family: $mon;
            font-weight: 700;
            text-transform: uppercase;
        }

        .btn-pro {
            background: rgb(175, 122, 255);
            background: linear-gradient(45deg, rgba(175, 122, 255, 1) 0%, rgba(78, 129, 246, 1) 100%);
            color: #fff;
        }

        .btn-free {
            background: rgba(175, 122, 255, 0.07);
            color: #8F51EE;
        }
    }
}

.total-ac {
    text-align: center;

    .card {
        border: none;
        margin-bottom: 25px;
        box-shadow: 0 4px 7px #bfbfbf8f;

        .card-body {
            h4 {
                font-size: 15px;
                line-height: 20px;
                font-family: $mon;
                font-weight: 700;
            }

            .row {
                .col-md-4 {
                    h5 {
                        font-size: 18px;
                        line-height: 24px;
                        font-family: $mon;
                        font-weight: 700;
                    }

                    p {
                        font-size: 11px;
                        line-height: 15px;
                        font-family: $mon;
                        font-weight: 600;
                        color: $color2;
                    }
                }
            }
        }
    }
}

.table thead th,
.table td,
.table th {
    border-top: 0;
    border-bottom: 0;
    padding: 13px;
    font-family: $mon;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: rgba(247, 247, 248, 0.5);
}

table {

    th,
    td {
        text-align: left;
        color: $color2;
        font-family: $mon;
    }

    .btn {
        padding: 0;
    }


}

.card-body {

    .input-group-text {
        background-color: transparent;
        border: none;
    }

    .form-control {
        border: none;
        font-size: 12px;
        font-family: $mon;
        font-weight: 500;
        line-height: 16px;
        background: rgba(17, 17, 30, 0.02) !important;
    }

    .form-control::placeholder {
        color: #A8A8BC;
        font-family: $mon;
    }

    .input-group-prepend {
        background: rgba(17, 17, 30, 0.02) !important;
        margin-right: 0px;
    }

    .input-group-prepend i {
        color: $color1;
    }
}

.today-r {
    h3 {
        font-size: 16px;
        line-height: 16px;
        color: $color1;
        font-weight: 700;
        font-family: $mon;
    }

    p {
        font-size: 12px;
        line-height: 16px;
        color: $color2;
        font-weight: 600;
        font-family: $mon;
    }
}

.py-4 {
    padding-top: 1.7rem !important;
    padding-bottom: 1.8rem !important;
}

.row {
    .col {
        .card {
            .card-header {
                padding-bottom: 0 !important;

                .card-title {
                    margin-bottom: 0;
                    font-size: 15px;
                    line-height: 20px;
                    color: $color2;
                    font-weight: 600;
                    font-family: $mon;
                }
            }

        }
    }
}

.btn-active {
    font-size: 12px;
    line-height: 16px;
    color: #1F9E27;
    font-weight: 400;
    background: rgba(31, 158, 39, 0.1);
    padding: 10px 15px;
    border-radius: 115px;
    font-family: $mon;

    i {
        font-size: 12px;
        line-height: 16px;
        margin-right: 6px;
    }
}

.btn-offline {
    font-size: 12px;
    line-height: 16px;
    color: $color2;
    font-weight: 400;
    background: #F5F5F6;
    padding: 10px 15px;
    border-radius: 115px;
    font-family: $mon;

    i {
        font-size: 12px;
        line-height: 16px;
        margin-right: 6px;
    }
}

.btn-away {
    font-size: 12px;
    line-height: 16px;
    color: #FF9901;
    font-weight: 400;
    background: rgba(255, 153, 1, 0.1);
    padding: 10px 15px;
    border-radius: 115px;
    font-family: $mon;

    i {
        font-size: 12px;
        line-height: 16px;
        margin-right: 6px;
    }
}

td {
    .d-inline-block {
        .fa-pen {
            background: rgba(65, 65, 91, 0.05);
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color2;
            font-size: 15px;
            border-radius: 30px;
            margin-right: 10px;
        }

        .fa-trash {
            background: rgba(255, 54, 54, 0.05);
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FF3636;
            font-size: 15px;
            border-radius: 30px;

        }
    }
}

.bg-transparent {
    background: transparent !important;
}

.faka-table {

    tr {
        margin-bottom: 20px;
    }
}

.bg-white {
    background: #fff !important;
}

.tr-dive {
    height: 15px;
}

.page-link {
    margin-right: 5px;
    border: none;
    color: $color2;
}

select {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    font-family: $mon;
    font-weight: 500;
    color: #A8A8BC;
    padding: 7px 12px;
    border: 1px solid #a8a8bc59;
}

.fa-plus {
    margin-right: 5px;
}

.btn-back {
    font-size: 12px;
    line-height: 16px;
    color: #767984;
    font-weight: 400;
    border: 1px solid #76798438;
    padding: 15px 30px;
    margin-right: 20px;
    border-radius: 5px;
    font-family: $mon;


    i {
        font-size: 12px;
        line-height: 16px;
        margin-right: 6px;
    }
}

.btn-save {
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    font-weight: 400;
    background: $color1;
    padding: 15px 30px;
    border-radius: 5px;
    font-family: $mon;


    i {
        font-size: 12px;
        line-height: 16px;
        margin-right: 6px;
    }
}

.profile-page,
.common-page,
.pass-page {
    .card-body .form-control {
        background: #fff !important;
        border-radius: 5px;
    }

    .input-group {
        background: #fff;
    }

    .form-control {
        width: 95%;
        height: calc(1.5em + .75rem + 2px);
        padding: 1.375rem 1rem;
        border: 1px solid #E5E5E5;
        color: $color2;
    }

    .form-control::placeholder {
        color: $color2;
        font-family: $mon;
        background: #fff !important;
    }

    .input-group-prepend {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        font-family: $mon;
        background: $color1 !important;

        .input-group-text {
            font-family: $mon;
            color: #fff !important;
        }
    }

    input[type=password] {
        font-weight: 700;
        font-size: 20px;
    }
}

label {
    color: $color2;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-family: $mon;
    margin-bottom: 10px;
}

.text-dark {
    color: $color2 !important;
}

.btn {
    border-radius: 0;
}

.card-title {
    color: $color2;
}

.btn-primary:hover {
    background: $color1;
    border-color: $color1;

}

.phone-nu{
   .form-control{
    border-radius: 0 !important;
   }
}


@media screen and (max-width: 768px) {
   .sidebar-brand{
       img{
        margin-left: -12px;
        margin-top: -66px;
       }
   }
   #wrapper .navbar .nav-item .nav-link{
       font-size: 10px;
   }
   #wrapper .navbar .master-nav .text-dark{
    margin-left: 12px;
    font-size: 11px;
    text-align: center;
   }
   #wrapper .navbar .nav-item .nav-link i{
       margin-right: 0;
   }
   .user-stat {
    min-height: 250px;
}
.legend-area .legend-here li i {
    font-size: 10px;
    margin-right: 5px;
}
.legend-area .legend-here li .text-legend{
    font-size: 10px;
}
.w-50{
    width: 80% !important;
}
  }


  @media screen and (min-width: 374px) {
    .table-responsive{
        overflow: scroll;
    }
    
    .btn-offline,
    .btn-active, 
    .btn-away {
        font-size: 10px;
    padding: 6px 5px;
         }




         td .d-inline-block .fal{
           
            width: 20px;
            height: 20px;
           
            font-size: 12px;
         
            margin-right: 5px;
        }
        .roler{
            width: 100%;
        }
        .need-100{
            width: 100%;
            margin-top: 60px;
        }
        
        .page-link{
            padding: .1rem .4rem;
        }



        .btn-save, .btn-back {
            font-size: 8px;
            line-height: 8px;
            padding: 5px 10px;
            
        }
        .px-5{
            padding-left: 15px !important;
            padding-right: 15px !important;
    
            padding-top: 8px;
    padding-bottom: 8px;
        }

        .profile-page .card-body .form-control, .common-page .card-body .form-control, .pass-page .card-body .form-control {
            background: #fff !important;
            height: 5px !important;
            padding: 17px !important;
            border-radius: 0;
        }

        .roler{
            overflow: auto;
        }
        .legend-area .legend-here li {
            display: inline-block;
            margin-right: 0;
        }
        .legend-area{
            padding:0 !important;
        }

        .card .card-header h6{
            font-size: 12px;
            line-height: 15px;
        }
        .card .card-header .fr select {
            display: inline-block;
            font-size: 10px;
            line-height: 8px;
            
            padding: 7px 0px;
            width: 50%;
            
        }
.fr{
    margin-top: 10px;
}
.card-header{
    padding:4px;
}

.p-0 {
    padding: 5px;
}

.text-right{
    text-align: left !important;
}
.my-data {
    min-width: 290% !important;
}


  }

  
  @media screen and (min-width: 320px){

    .profile-page .card, .common-page .card, .pass-page .card {
        width: 100%;
    }
    .card .card-header h6 {
        font-size: 8px;
        line-height: 30px;}
        .card .card-header .fr{
            margin-left: 8px;
        }
        .card .card-header .fr select{
            padding: 5px 0;
        }
        .card .card-header .fr p{
            line-height: 0;
        }
        .legend-here{
            display: block !important;
        }
        .legend-area .legend-here li{
            margin-right: 0;
        }
        .legend-area .legend-here li i{
            margin-left: 0;
        }
        .user-stat {
            min-height: 306px;
        }
        .legend-here{
            padding: 0;
        }
        .progressbar-text{
            top: 33% !important;
        }
        .mal{
            height: 150px !important;
        }
        #content .input-group{
            margin-bottom: 10px;
        }
        .btn-active, .btn-offline, .btn-away  {
            font-size: 8px;
            line-height: 16px;
            padding: 7px 10px;
            
        }
        .my-data{
           min-width: 1000%;
        }

        td .d-inline-block .fa-pen {
            background: rgba(65, 65, 91, 0.05);
            width: 25px;
            height: 25px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #11111E;
            font-size: 15px;
            border-radius: 30px;
            margin-right: 1px;
        }

        .need-100{
            width: 100%;
            margin-top: 10px;
        }
        .w-50{
            width: 100% !important;
        
        }
        .btn-save, .btn-back {
            font-size: 8px;
            line-height: 8px;
            padding: 5px 10px;
            
        }
        .btn-back{
margin-right: 6px;
        }
        .text-right {
            text-align: left!important;
        }
  }




  .sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile{
      height: auto;
  }
 

 .px-5{
     padding-left: 1rem !important;
     padding-right: 1rem !important;
 }


 @media screen and (min-width: 480px){
    .my-data {
        min-width: 171% !important;
    }
 }

 
 @media screen and (min-width: 540px){
    .my-data {
        min-width: 111% !important;
    }
 }

 @media screen and (min-width: 992px){
    .my-data {
        min-width: 100% !important;
    }
 }